<div class="container">
    <!-- Search bar -->
    <div class="input-group">
        <input ng-model="searchText" type="text" class="form-control" placeholder="Look up your favourite Game!">
    <span class="input-group-btn">
        <a href="#/search/{{searchText}}" class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
        </a>
    </span>
    </div>

    <div class="row">
        <h3 class="home-title">Popular Games</h3>
        <hr/>
        <div ng-show="!model.games" class="text-center">
            <i class="fa fa-refresh fa-spin fa-3x fa-fw" aria-hidden="true"></i>
            <span class="sr-only">Refreshing...</span>
        </div>
        <div ng-repeat="game in model.games" class="col-sm-6 col-md-4">
            <div class="thumbnail well fix-ht">
                <div class="caption">
                    <a href="#/game/{{game.id}}">
                        <img class="img-responsive thumbnail-img" ng-src="{{game.image.medium_url}}">
                        <h3 class="game-name" title="{{game.name}}">{{game.name}}</h3>
                    </a>
                    <h5 class="deck-text block-with-text">{{game.deck}}</h5>

                </div>
            </div>
        </div>
        <div ng-show="model.showSpinnerBottom" class="text-center">
            <i class="fa fa-refresh fa-spin fa-3x fa-fw" aria-hidden="true"></i>
            <span class="sr-only">Refreshing...</span>
        </div>
    </div>
</div>