<div class="container">
    <!-- Search bar -->
    <div class="input-group search-bar">
        <input ng-model="model.searchText" type="text" class="form-control" placeholder="Look up your favourite Game!">
    <span class="input-group-btn">
        <a ng-click="model.searchGames(searchText)" class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
        </a>
    </span>
    </div>

    <div class="well platform-well">
        <div ng-click="showOptions = !showOptions">
            <a href="">
                <h4 class="platform-title">Browse Games by Platform..
                <span class="pull-right">
                    <i ng-show="!showOptions" class="fa fa-chevron-right" aria-hidden="true"></i>
                    <i ng-show="showOptions" class="fa fa-chevron-down" aria-hidden="true"></i>
                </span>
                </h4>
            </a>
        </div>
        <hr ng-show="showOptions" />
        <div ng-init="showOptions = false" ng-show="showOptions" class="row">
            <div class="col-md-4" ng-repeat="platform in model.platforms">
                <a href="#/games/platform/{{platform.id}}" class="thumbnail">
                    <img class="platform-image" ng-src="{{platform.image.icon_url}}">
                    <div class="caption text-center">
                        <h3>
                            {{platform.name}}
                        </h3>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <h3 class="home-title">Search Results</h3>
        <hr/>
        <div ng-show="!model.games" class="text-center">
            <i class="fa fa-refresh fa-spin fa-3x fa-fw" aria-hidden="true"></i>
            <span class="sr-only">Refreshing...</span>
        </div>
        <div ng-show="model.info" class="text-center">
            {{model.info}}
        </div>
        <div ng-repeat="game in model.games" class="col-sm-6 col-md-4">
            <div class="thumbnail well fix-ht">
                <div class="caption">
                    <a href="#/game/{{game.id}}">
                        <img class="img-responsive thumbnail-img"
                             ng-src="{{game.image.medium_url}}"
                             src="https://www.skylib.com/img/game_placeholder.jpg"
                             err-src="https://www.skylib.com/img/game_placeholder.jpg">
                        <h2 class="game-name" title="{{game.name}}">{{game.name}}</h2>
                    </a>
                    <h5 class="deck-text block-with-text">{{game.deck}}</h5>
                    <!--<div class="platform-holder">
                        <span class="label label-primary platform-label" ng-repeat="platform in game.platforms|limitTo:3">
                            {{platform.name}}
                        </span>
                    </div>-->
                </div>
            </div>
        </div>
        <div ng-show="model.showSpinnerBottom" class="text-center">
            <i class="fa fa-refresh fa-spin fa-3x fa-fw" aria-hidden="true"></i>
            <span class="sr-only">Refreshing...</span>
        </div>
    </div>
</div>