body {
    padding-top: 60px;
    padding-bottom: 50px;
}
a:hover{
    text-decoration: none;
}
.input-margin {
    margin-bottom: 8px;
}
.nav-check-btn {
    color: black;
    top: 0;
}
.nav-back-btn {
    color: black;
    margin-right: 10px;
}
.nav-btn {
    margin-right: 5px;
    top: 0;
}
.list-btn {
    padding: 0;
}
.data-list-padding {
    padding: 8px;
}