body {
    padding-top: 60px;
    padding-bottom: 50px;
}
.input-margin {
    margin-bottom: 8px;
}
.nav-top-btn {
    color: black;
}
.nav-btn {
    margin-right: 5px;
}
.list-btn {
    padding: 0px;
}
.website-list-padding {
    padding: 8px;
}