body {
    padding-top: 60px;
    padding-bottom: 50px;
}
.input-group{
    margin-bottom: 15px;
    width: 100%;
}
.input-group-addon {
    min-width:40px;
    vertical-align: middle;
}
.href-text{
    text-align: right;
    padding: 15px;
}
.well-header{
    margin-bottom: 20px;
}
.well {
    background: #ffffff;
}