body {
    padding-top: 60px;
    padding-bottom: 50px;
    font-weight: bold;
}
.input-group{
    margin-bottom: 15px;
    width: 100%;
}
.input-group-addon {
    min-width:40px;
    vertical-align: middle;
}
.href-text{
    font-weight: bold;
    text-align: right;
    padding: 15px;
}
.well-header{
    margin-bottom: 20px;
}
.well {
    background: #ffffff;
    border-radius: 15px;
}
#description a{
    pointer-events: none;
    cursor: default;
    color: black;
}
.v-center {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
hr {
    margin: 5px 0 10px 0;
}
/*.detail-header{
    padding: 5px;
    margin: 0;
}*/
.fix-ht{
    min-height: 600px;
    height: 600px;
}
.thumbnail-img{
    min-height: 350px;
    height: 350px!important;
}
a,a:hover {
    color: black;
    text-decoration: none;
}
.panel-default > .panel-heading-custom {
    border-radius: 15px;
    background-color: black;
    color: white;
}
.panel-default{
    border-radius: 15px;
}
.detail-heading-img {
    //border: 3px solid #cccccc;
    border-radius: 10px;
}
@media only screen and (max-width: 767px) {

    h3 {
        font-size: 18px;
    }
}
.home-title{
    margin-left: 15px;
}
.btn-green{
    color: green;
}
.btn-black{
    background-color: black;
}
.form-control{
    margin-bottom: 10px;
}
.reviews-title{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.detail-fix-ht{
    min-height: 290px;
    height: 290px;
}
.detail-img{
    min-height: 200px;
    height: 200px!important;
}
.review-img{
    min-height: 200px;
    height: 200px!important;
    width: 170px;
}
.margin-left{
    margin-left: 6px;
}