<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="viewport" content="initial-scale=1.25, user-scalable=no" />
        <title>Page List</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="/assignment/css/style.css" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-text pull-left">
                    <a href="/assignment/website/website-list.html"
                       class="navbar-link">
                        <span class="glyphicon glyphicon-chevron-left nav-back-btn"></span>
                    </a>
                </div>
                <div class="navbar-header pull-left">
                    <a class="navbar-brand"
                       href="">Pages</a>
                </div>
                <div class="navbar-text pull-right">
                    <a href="page-new.view.client.html"
                       class="navbar-link">
                        <span class="glyphicon glyphicon-plus black-btn"></span>
                    </a>
                </div>
            </div>
        </nav>
        <div class="container-fluid">
            <div class="row data-list-padding">
                <div class="col-xs-9">
                    <a href="/assignment/widget/widget-list.html">Blog Post</a>
                </div>
                <div class="col-xs-3 text-right">
                    <a href="page-edit.view.client.html"
                       class="btn list-btn">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                </div>
            </div>

            <div class="row data-list-padding">
                <div class="col-xs-9">
                    <a href="/assignment/widget/widget-list.html">Blogs</a>
                </div>
                <div class="col-xs-3 text-right">
                    <a href="page-edit.view.client.html"
                       class="btn list-btn">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                </div>
            </div>

            <div class="row data-list-padding">
                <div class="col-xs-9">
                    <a href="/assignment/widget/widget-list.html">Home</a>
                </div>
                <div class="col-xs-3 text-right">
                    <a href="page-edit.view.client.html"
                       class="btn list-btn">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                </div>
            </div>

            <div class="row data-list-padding">
                <div class="col-xs-9">
                    <a href="/assignment/widget/widget-list.html">About</a>
                </div>
                <div class="col-xs-3 text-right">
                    <a href="page-edit.view.client.html"
                       class="btn list-btn">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                </div>
            </div>

            <div class="row data-list-padding">
                <div class="col-xs-9">
                    <a href="/assignment/widget/widget-list.html">Contact Us</a>
                </div>
                <div class="col-xs-3 text-right">
                    <a href="page-edit.view.client.html"
                       class="btn list-btn">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-default navbar-fixed-bottom">
            <div class="container-fluid">
                <div class="navbar-text pull-right">
                    <a class="navbar-link"
                       href="/assignment/user/profile.html">
                        <span class="glyphicon glyphicon-user text-primary"></span>
                    </a>
                </div>
            </div>
        </nav>
    </body>
</html>