<div class="container">
    <div ng-if="model.error" class="alert alert-danger">
        {{model.error}}
    </div>
    <!--{{model.game}}-->

    <div class="panel panel-info">
        <div class="row panel-heading detail-header">
            <div class="col-xs-4 v-center">
                <img class="img-responsive" src='{{model.game.image.medium_url}}'>
            </div><!--
         --><div class="col-xs-8 panel-title v-center">
                <h2>{{model.game.name}}</h2>
            </div>
        </div>
        <div class="panel-body">
            <h5 class="well">{{model.game.deck}}</h5>
            <div id="description" ng-bind-html="model.game.description"></div>
        </div>
    </div>
    <!--<div class="row nav">
        <div class="col-xs-12" style="margin: 0px;padding: 0px;">
            <div class="col-md-4 col-xs-4 btn btn-primary"><i class="fa fa-weixin fa-lg"></i> 16</div>
            <div class="col-md-4 col-xs-4 btn btn-primary"><i class="fa fa-heart-o fa-lg"></i> 14</div>
            <div class="col-md-4 col-xs-4 btn btn-primary"><i class="fa fa-thumbs-o-up fa-lg"></i> 26</div>
        </div>
    </div>-->

</div>
