<div class="container">
    <div ng-if="model.error" class="alert alert-danger">
        {{model.error}}
    </div>
    <!--{{model.game}}-->
    <!--<div class="col-md-9">-->
    <div class="panel panel-default">
        <div class="panel-heading panel-heading-custom">
            <div class="row">
                <div class="col-xs-12 visible-xs v-center text-center">
                    <img class="img-responsive img-thumbnail" src="{{model.game.image.small_url}}" err-src="https://www.skylib.com/img/game_placeholder.jpg">
                </div><!--
                --><div class="col-sm-3 hidden-xs v-center text-center">
                <img class="img-responsive img-thumbnail" src="{{model.game.image.medium_url}}" err-src="https://www.skylib.com/img/game_placeholder.jpg">
            </div><!--
                --><div class="col-xs-12 col-sm-7 panel-title v-center text-center">
                <h2>{{model.game.name}}</h2>
            </div><!--
               --><div class="col-xs-12 col-sm-2 panel-title v-center text-center">
                <a href="" ng-click="model.unlikeGame()" ng-show="model.liked"><i class="fa fa-thumbs-o-up fa-2x liked"></i></a>
                <a href="" ng-click="model.clickLike()" ng-hide="model.liked"><i class="fa fa-thumbs-o-up fa-2x"></i></a>
                <br>
            </div>
            </div>
        </div>
        <div class="panel-body">
            <div ng-if="model.game.original_release_date">Release Date: {{model.toJsDate(model.game.original_release_date) | date: 'mediumDate'}}</div>
            <div ng-if="!model.game.original_release_date">Expected Release Date: {{model.toJsExpectedDate(model.game.expected_release_month,model.game.expected_release_year) | date: 'MMM, yyyy'}}</div>
            <h5 class="well">{{model.game.deck}}</h5>


            <div class="panel panel-default">
                <div class="panel-heading">Game Information</div>
            <div class="row panel-body fix-heights game-info">
                <div class="col-md-3 col-sm-4 col-xs-6">
                    <h4 class="game-info-heading">Platforms</h4>
                    <p class="block" ng-repeat="platform in model.game.platforms">{{platform.name}}</p>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-6">
                    <h4 class="game-info-heading">Developers</h4>
                    <p class="block" ng-repeat="developer in model.game.developers">{{developer.name}}</p>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-6">
                    <h4 class="game-info-heading">Publishers</h4>
                    <p class="block" ng-repeat="publisher in model.game.publishers">{{publisher.name}}</p>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-6">
                    <h4 class="game-info-heading">Genres</h4>
                    <p class="block" ng-repeat="genre in model.game.genres">{{genre.name}}</p>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-6">
                    <h4 class="game-info-heading">Themes</h4>
                    <p class="block" ng-repeat="theme in model.game.themes">{{theme.name}}</p>
                </div>
                <div ng-if="model.game.franchises.length > 0" class="col-md-3 col-sm-4 col-xs-6">
                    <h4 class="game-info-heading">Franchise</h4>
                    <p class="block" ng-repeat="franchise in model.game.franchises">{{franchise.name}}</p>
                </div>
            </div>
            </div>

            <!--<div class="row">
                <div class="col-md-3">
                    &lt;!&ndash;<h4>Platforms:</h4>&ndash;&gt;
                    <ul class="list-group">
                        <li class="list-group-item"><i class="fa fa-caret-square-o-right" aria-hidden="true"></i> &nbsp; Platforms:</li>
                        <li class="list-group-item list-content"  ng-repeat="platform in model.game.platforms|limitTo:4">
                            {{platform.name}}
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    &lt;!&ndash;<h4>Developers:</h4>&ndash;&gt;
                    <ul class="list-group">
                        <li class="list-group-item"><i class="fa fa-caret-square-o-right" aria-hidden="true"></i> &nbsp; Developers:</li>
                        <li class="list-group-item list-content"  ng-repeat="developer in model.game.developers|limitTo:4">
                            {{developer.name}}
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    &lt;!&ndash;<h4>Genres:</h4>&ndash;&gt;
                    <ul class="list-group">
                        <li class="list-group-item"><i class="fa fa-caret-square-o-right" aria-hidden="true"></i> &nbsp; Genres:</li>
                        <li class="list-group-item list-content"  ng-repeat="genre in model.game.genres|limitTo:4">
                            {{genre.name}}
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    &lt;!&ndash;<h4>Themes:</h4>&ndash;&gt;
                    <ul class="list-group">
                        <li class="list-group-item"><i class="fa fa-caret-square-o-right" aria-hidden="true"></i> &nbsp; Themes:</li>
                        <li class="list-group-item list-content"  ng-repeat="theme in model.game.themes|limitTo:4">
                            {{theme.name}}
                        </li>
                    </ul>
                </div>
            </div>-->

            <div ng-click="showOptions = !showOptions" ng-if="model.game.description">
                <a href="">
                    <h3 class="wiki-title">
                        Game WIKI
                    <span class="pull-right">
                    <i ng-show="!showOptions" class="fa fa-chevron-right" aria-hidden="true"></i>
                    <i ng-show="showOptions" class="fa fa-chevron-down" aria-hidden="true"></i>
                    </span>
                    </h3>
                </a>
                <hr/>
                <div ng-init="showOptions = false" ng-show="showOptions" class="text-justify description-container">
                    <div class="description" ng-bind-html="model.game.description"></div>
                </div>
            </div>

            <!--Platform,genre,franchise,developers-->

            <div ng-if="model.videos.length > 0">
                <h3>Game Trailer</h3>
                <hr/>
                <div ng-repeat="vid in model.videos|limitTo:1" class="well youtube-widget">
                    <iframe width="100%" ng-src="{{model.getYoutubeURL(vid.uid)}}" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>

            <div>
                <h3>Reviews:</h3>
                <hr/>
                <div class="media" ng-repeat="review in model.reviewList">
                    <a class="pull-left" href="" ng-click="model.viewProfile(review.user._id)">
                        <img class="media-object img-thumbnail detail-review-img" ng-src="{{review.user.image}}" src="http://placehold.it/64x64" alt="">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <span>{{review.title}}</span>
                            <p>
                                <small><a href="" ng-click="model.viewProfile(review.user._id)">{{review.user.username}}</a> : <span ng-bind="review.timestamp | date:'EEE, MMM-dd yyyy'"></span></small>
                            </p>
                        </h4>
                        <p>
                            <ng-rating ng-model="review.rating"
                                       editable="false">
                            </ng-rating>
                        </p>
                        <h6 class="description-container">{{review.comment}}</h6>
                    <span class="pull-right" ng-if="model.currentUser._id === review.user._id || model.currentUser.role === 'admin'">
                        <a href="" ng-click="model.deleteReview(review._id)" class="btn btn-danger">Delete</a>
                    </span>

                    </div>
                    <hr/>
                </div>

                <div class="well">
                    <h4>Write a Review:</h4>
                    <div ng-if="model.reviewError" class="alert alert-danger review-err">
                        {{model.reviewError}}
                    </div>
                    <p>
                        <ng-rating ng-model="model.review.rating"
                                   editable="model.currentUser != null">
                        </ng-rating>
                    </p>
                    <form role="form">
                        <div class="form-group">
                            <input type="text"
                                   ng-model="model.review.title"
                                   placeholder="Review Title"
                                   class="form-control" ng-disabled="!model.currentUser" ng-required="true">
                        </div>
                        <div class="form-group">
                    <textarea ng-model="model.review.comment"
                              placeholder="Review Comments"
                              rows="3"
                              class="form-control" ng-disabled="!model.currentUser" ng-required="true">
                    </textarea>
                        </div>
                        <a href="" ng-click="model.submitReview(model.review)" class="btn btn-primary" ng-disabled="!model.currentUser">Submit</a>
                    </form>

                </div>
            </div>

            <div ng-if="model.similarGames.length > 0">
                <h3>Similar Games</h3>
                <hr/>
                <div class="row text-center">
                    <div class="col-xs-12 col-md-3" ng-repeat="sg in model.similarGames">
                        <div class="well fix-similar-ht">
                            <a href="#/game/{{sg.id}}">
                                <img class="img-responsive thumbnail-img center-block"
                                     ng-src="{{sg.image.medium_url}}"
                                     src="https://www.skylib.com/img/game_placeholder.jpg"
                                     err-src="https://www.skylib.com/img/game_placeholder.jpg">
                                <div class="caption">
                                    <h4 class="similar-game-name">
                                        {{sg.name}}
                                    </h4>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <!--</div>-->

</div>
<!--<div class="row nav">
    <div class="col-xs-12" style="margin: 0px;padding: 0px;">
        <div class="col-md-4 col-xs-4 btn btn-primary"><i class="fa fa-weixin fa-lg"></i> 16</div>
        <div class="col-md-4 col-xs-4 btn btn-primary"><i class="fa fa-heart-o fa-lg"></i> 14</div>
        <div class="col-md-4 col-xs-4 btn btn-primary"><i class="fa fa-thumbs-o-up fa-lg"></i> 26</div>
    </div>
</div>-->

