<div class="container-fluid">
    <div ng-if="model.error" class="alert alert-danger">
        {{model.error}}
    </div>
    <form name="form">
        <h1>Login</h1>
        <div class="form-group" ng-class="{'has-error': form.username.$touched && form.username.$invalid}">
            <input ng-model="username"
                   type="text"
                   name="username"
                   class="form-control"
                   placeholder="username"
                   autocorrect="off"
                   autocapitalize="off" required/>
            <span ng-if="form.username.$touched && form.username.$invalid">Username is required.</span>
        </div>
        <div class="form-group" ng-class="{'has-error': form.password.$touched && form.password.$invalid}">
            <input ng-model="password"
                   type="password"
                   name="password"
                   class="form-control"
                   placeholder="password" required/>
            <span ng-show="form.password.$touched && form.password.$invalid">Password is required.</span>
        </div>
        <a class="btn btn-primary btn-block"
           ng-click="model.login(username,password)"
           role="button">Login</a>
        <a class="btn btn-success btn-block"
           href="#/register"
           role="button">Register</a>
        <a class="btn btn-primary btn-block"
           href="/auth/facebook"
           role="button">
            <span class="fa fa-facebook-official"></span> Facebook</a>
    </form>
</div>