<div class="container-fluid">
    <div ng-if="model.error" class="alert alert-danger">
        {{model.error}}
    </div>
    <form name="form">
        <h1>Register</h1>
        <div class="form-group" ng-class="{'has-error': form.username.$touched && form.username.$invalid}">
            <input ng-model="username"
                   type="text"
                   name="username"
                   class="form-control"
                   placeholder="username" required/>
            <span ng-show="form.username.$touched && form.username.$invalid">Username is required.</span>
        </div>
        <div class="form-group" ng-class="{'has-error': form.password.$touched && form.password.$invalid}">
            <input ng-model="password"
                   type="password"
                   name="password"
                   class="form-control"
                   placeholder="password" required/>
            <span ng-show="form.password.$touched && form.password.$invalid">Password is required.</span>
        </div>
        <div class="form-group"
             ng-class="{'has-error': form.verifyPassword.$touched && form.verifyPassword.$invalid}">
            <input ng-model="verifyPassword"
                   type="password"
                   name="verifyPassword"
                   class="form-control"
                   placeholder="verify password" required/>
            <span ng-show="form.verifyPassword.$touched && form.verifyPassword.$invalid">Password is required.</span>
        </div>
        <a class="btn btn-primary btn-block"
           ng-click="model.register(username,password,verifyPassword)"
           role="button">Register</a>
        <a class="btn btn-danger btn-block"
           href="#/login"
           role="button">Cancel</a>
    </form>
</div>