<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a href="widget-list.view.client.html"
               class="navbar-link">
                <span class="glyphicon glyphicon-chevron-left nav-back-btn"></span>
            </a>
        </div>
        <div class="navbar-header pull-left">
            <a class="navbar-brand"
               href="">Choose Widget</a>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="data-list-padding">
        <a href="widget-heading.view.client.html">Header</a>
    </div>
    <div class="data-list-padding">
        <a href="">Label</a>
    </div>
    <div class="data-list-padding">
        <a href="">HTML</a>
    </div>
    <div class="data-list-padding">
        <a href="">Text Input</a>
    </div>
    <div class="data-list-padding">
        <a href="">Link</a>
    </div>
    <div class="data-list-padding">
        <a href="">Button</a>
    </div>
    <div class="data-list-padding">
        <a href="widget-image.view.client.html">Image</a>
    </div>
    <div class="data-list-padding">
        <a href="widget-youtube.view.client.html">YouTube</a>
    </div>
    <div class="data-list-padding">
        <a href="">Data Table</a>
    </div>
    <div class="data-list-padding">
        <a href="">Repeater</a>
    </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a class="navbar-link"
               href="/assignment/user/profile.html">
                <span class="glyphicon glyphicon-user text-primary"></span>
            </a>
        </div>
    </div>
</nav>