
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page"
               class="navbar-link">
                <span class="glyphicon glyphicon-chevron-left nav-back-btn"></span>
            </a>
        </div>
        <div class="navbar-header pull-left">
            <a class="navbar-brand"
               href="">Widgets</a>
        </div>
        <div class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new"
               class="navbar-link">
                <span class="glyphicon glyphicon-plus black-btn"></span>
            </a>
        </div>
    </div>
</nav>
<div class="container-fluid">

    <div ng-repeat="widget in model.widgets" class="widget-content">
        <div class="widget-tool">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}"
               class="btn list-btn">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify black-btn"></span>
        </div>
        <div ng-switch="widget.widgetType">
            <div ng-switch-when="HEADER" ng-switch="widget.size">
                <h1 ng-switch-when="1">{{widget.text}}</h1>
                <h2 ng-switch-when="2">{{widget.text}}</h2>
                <h3 ng-switch-when="3">{{widget.text}}</h3>
                <h4 ng-switch-when="4">{{widget.text}}</h4>
                <h5 ng-switch-when="5">{{widget.text}}</h5>
                <h6 ng-switch-when="6">{{widget.text}}</h6>
            </div>
            <div ng-switch-when="HTML">
                <div ng-bind-html="model.getSafeHtml(widget)"></div>
            </div>
            <div ng-switch-when="IMAGE">
                <img ng-src="{{widget.url}}" width="{{widget.width}}"/>
            </div>
            <div ng-switch-when="YOUTUBE">
                <iframe width="{{widget.width}}" ng-src="{{model.getSafeUrl(widget)}}" frameborder="0" allowfullscreen></iframe>
            </div>
            <div ng-switch-default>
                Unable to render widget
            </div>
        </div>
    </div>

    <!--<div class="widget-content">
        <div class="widget-tool">
            <a href="widget-heading.view.client.html"
               class="btn list-btn">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify black-btn"></span>
        </div>
        <h3>US Senate Reaches Compromise on Emergency Zika Funding</h3>
    </div>

    <div class="widget-content">
        <div class="widget-tool">
            <a href="widget-image.view.client.html"
               class="btn list-btn">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify black-btn"></span>
        </div>
        <img src="https://static.pexels.com/photos/26794/pexels-photo.jpg" width="100%">
    </div>

    <div class="widget-content">
        <div class="widget-tool">
            <a href=""
               class="btn list-btn">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify black-btn"></span>
        </div>
        <p>The 2003 Pacific hurricane season produced tropical cyclones that mainly affected Mexico. Hurricane Ignacio killed 2 people in Mexico and Marty killed 12; together they were responsible for damage worth about US$1 billion. Two other Pacific hurricanes, one Pacific tropical storm and three Atlantic storms also had a direct impact on Mexico. The only other significant storm of the season was Hurricane Jimena, which passed just to the south of the island of Hawaii, becoming the first storm in several years to directly threaten the island. </p>
    </div>

    <div class="widget-content">
        <div class="widget-tool">
            <a href="widget-heading.view.client.html"
               class="btn list-btn">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify black-btn"></span>
        </div>
        <h3>World Record Edition : It's time to break some records!! </h3>
    </div>

    <div class="widget-content">
        <div class="widget-tool">
            <a href="widget-youtube.view.client.html"
               class="btn list-btn">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify black-btn"></span>
        </div>
        <iframe width="100%" src="https://www.youtube.com/embed/gm2_6DX_0Bw" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="widget-content">
        <div class="widget-tool">
            <a href=""
               class="btn list-btn">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify black-btn"></span>
        </div>
        <p>During its geological history, Lake Victoria went through changes ranging from its present shallow depression, through to what may have been a series of much smaller lakes. Geological cores taken from its bottom show Lake Victoria has dried up completely at least three times since it formed. These drying cycles are probably related to past ice ages, which were times when precipitation declined globally. Lake Victoria last dried out 17,300 years ago, and it refilled beginning about 14,700 years ago. Geologically, Lake Victoria is relatively young – about 400,000 years old – and it formed when westward-flowing rivers were dammed by an upthrown crustal block.</p>
    </div>-->

</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a class="navbar-link"
               href="">
                <span class="glyphicon glyphicon-play nav-back-btn"></span>
            </a>
        </div>
        <div class="navbar-text pull-left">
            <a class="navbar-link"
               href="">
                <span class="glyphicon glyphicon-eye-open nav-back-btn"></span>
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a class="navbar-link"
               href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user text-primary"></span>
            </a>
        </div>
    </div>
</nav>