<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget"
               class="navbar-link">
                <span class="glyphicon glyphicon-chevron-left nav-back-btn"></span>
            </a>
        </div>
        <div class="navbar-header pull-left">
            <a class="navbar-brand"
               href="">Choose Widget</a>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="data-list-padding">
        <a ng-click="model.createWidget('HEADER')">Header</a>
    </div>
    <div class="data-list-padding">
        <a ng-click="">Label</a>
    </div>
    <div class="data-list-padding">
        <a ng-click="model.createWidget('HTML')">HTML</a>
    </div>
    <div class="data-list-padding">
        <a ng-click="">Text Input</a>
    </div>
    <div class="data-list-padding">
        <a ng-click="">Link</a>
    </div>
    <div class="data-list-padding">
        <a ng-click="">Button</a>
    </div>
    <div class="data-list-padding">
        <a ng-click="model.createWidget('IMAGE')">Image</a>
    </div>
    <div class="data-list-padding">
        <a ng-click="model.createWidget('YOUTUBE')">YouTube</a>
    </div>
    <div class="data-list-padding">
        <a ng-click="">Data Table</a>
    </div>
    <div class="data-list-padding">
        <a ng-click="">Repeater</a>
    </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a class="navbar-link"
               href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user text-primary"></span>
            </a>
        </div>
    </div>
</nav>